{% extends "base.html" %}
{% block content %}

<div class="calc_p2">
	<form name="vnos" action="/complicator" method="post">
		<br>
		<h4>1. Let's start off with the basic questions. What's your name?</h4>
		Type name: <input type="text" name="praznopolje">
		<br>
		<br><br>
		<h4>2. Please choose your gender.</h4>
			<input type="radio" name="gender" value="male"/> Male
		<br>
			<input type="radio" name="gender" value="female"/> Female 
		<br><br>
		<h4>3. How old are you?</h4>
			Age: <input type="text" name="age">
		<br>
		<br><br>
		<h4>4. How would you define your relationship status?</h4>
			<input type="radio" name="status" value="single"/> Single
		<br>
			<input type="radio" name="status" value="relationship"/> In relationship
		<br>
			<input type="radio" name="status" value="open"/> In open relationship
		<br>
			<input type="radio" name="status" value="complicated"/> It's complicated
		<br>
			<input type="radio" name="status" value="pizza"/> I'm a pizza
		<br>
			<input type="radio" name="status" value="depends"/> Depends
		<br><br>
		<h4>5. How ignorant of the world are you?</h4>
			Ignorance:  0<input type="range" name="ignorance" min="0" max="100">100
				<p>(0 means 'stressing yourself over every little thing' and 100 means 'I don't give a shit.')</p>
		<br><br>
		<h4>6. How much money do you have (in Euros)?</h4>
			I have: <input type="int" name="money_have">€
		<br>
		<br><br>
		<h4>7. How much money do you want (in Euros)?</h4>
			I want: <input type="int" name="money_wants">€
		<br>
		<br><br>
		<h4>8. How many friends do you have on Facebook?</h4>
			I have <input type="int" name="popularity_online"> FB friends.
		<br>
		<br><br>
		<h4>9. How many friends do you have in real life?</h4>
			I have <input type="int" name="rl_friends"> friends.
		<br>
		<br><br>
		<button type="submit" class="btn btn-primary btn-lg">Calculate</button>
		<br><br><br>
	</form>
</div>

{% endblock %}