{% extends "base.html" %}
{% block content %}
<div class="row"> <!--second row-->
			<div class="col-lg-6">
			<h1>Welcome aboard kitty!</h1>
			</div>
		</div>
<div class="accordion" id="accordion2"> <!-- naredi nam okvircke-->
  <div class="accordion-group"> 
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Meetup #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Ugotovili smo, da ne bi bilo slabo skupaj narediti CodeCats strani. V ta namen smo na GitHubu naredili skupni litterbox (https://github.com/CodeCatz/litterbox) in se preiskusili v pull-anju in push-anju.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Meetup #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Delali smo na kalkulatorju kompleksnosti življenja, ki uporablja razne spremenljivke in pogojne if stavke.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Meetup #3
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>V kalkulatorje kompleksnosti življenja smo dodajale funkcije. Žiga in Goran sta našla Flask, s katerim je super na easy postavit preprosti lokalen strežnik za simpl web aplikacije. Navodila https://github.com/CodeCatz/litterbox#web-development-with-flask.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Meetup #4
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>S pomočjo ogrodja Flask smo naredile preprosto spletno aplikacijo. Lepša je postala z uporabo Bootstrapa.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Meetup #5
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <p></p>
      </div>
    </div>
  </div>
</div>

<p>Kaj sploh je Codecatz? Redna tedenska srečanja, na katerih začetnice in izkušeni programerski mački s programiranjem rešujemo svet. Ali se samo učimo na posameznih in skupnih projektih. Pa punce nismo nikoli v manjšini.</p>
{% endblock %}