{% extends "base.html" %}
{% block content %}
<div class="contentcatz">

<div class="row"> <!--second row-->
      <div class="col-lg-6">
        <h1>Welcome!</h1>
			</div>
</div>
<p>Kaj sploh je Codecatz? Redna tedenska srečanja, na katerih začetnice in izkušeni programerski mački s programiranjem rešujemo svet. Ali se samo učimo na posameznih in skupnih projektih. Pa punce nismo nikoli v manjšini.</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Meetup #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Ugotovili smo, da ne bi bilo slabo skupaj narediti CodeCats strani. V ta namen smo na GitHubu naredili skupni litterbox (https://github.com/CodeCatz/litterbox) in se preiskusili v pull-anju in push-anju.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Meetup #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Delali smo na kalkulatorju kompleksnosti življenja, ki uporablja razne spremenljivke in pogojne if stavke.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Meetup #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>V kalkulatorje kompleksnosti življenja smo dodajale funkcije. Žiga in Goran sta našla Flask, s katerim je super na easy postavit preprosti lokalen strežnik za simpl web aplikacije. Navodila https://github.com/CodeCatz/litterbox#web-development-with-flask.</p>
      </div>
    </div>
  </div>
 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Meetup #4
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>S pomočjo ogrodja Flask smo naredile preprosto spletno aplikacijo. Lepša je postala z uporabo Bootstrapa.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Meetup #5
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Ponovno smo naredili aplikacijo s Flaskom, jo olepšali z Bootstrapom, vadili razne CSS trike in uspešno debuggirali vse težave.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Meetup #6
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>

</div>
{% endblock %}