{% extends "base.html" %}
{% block content %}
  <div class="row">
  	<div class="col-lg-12">

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Naslov skupine ena
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p>I want to shoot the pigeons... off my roof. I took a Viagra, got stuck in me throat, I've had a stiff neck for hours. Jasper: Your baby is the miracle the whole world has been waiting for. You know, your bobby dangler, giggle stick, your general-two-colonels, master of ceremonies.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Naslov skupine dve
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Grumpy cats two! It's not the size mate, it's how you use it. It's not the size mate, it's how you use it. You know, your bobby dangler, giggle stick, your general-two-colonels, master of ceremonies... Yeah, don't be shy, let's have a look. Your were only supposed to blow the bloody doors off. At this point, I'd set you up with a chimpanzee if it'd brought you back to the world! You are as precious to me as you were to your own mother and father. I swore to them that I would protect you, and I haven't. You wouldn't hit a man with no trousers on, would you? It's not the size mate, it's how you use it. You wouldn't hit a man with no trousers on, would you? When I get back, remind to tell you about the time I took 100 nuns to Nairobi! When I get back, remind to tell you about the time I took 100 nuns to Nairobi! My lord! You're a tripod. 
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Naslov skupine tri
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        Grumpy cats three. I've had a stiff neck for hours. Yes, I used a machine gun. You are as precious to me as you were to your own mother and father. I swore to them that I would protect you, and I haven't. You wouldn't hit a man with no trousers on, would you? At this point, I'd set you up with a chimpanzee if it'd brought you back to the world! My lord! You're a tripod. Yes, I used a machine gun. 
      </div>
    </div>
  </div>
</div>


  <p>When a naked man's chasing a woman through an alley with a butcher knife and a hard-on, I figure he's not out collecting for the Red Cross. Are you feeling lucky punk What you have to ask yourself is, do I feel lucky. Well do ya' punk? Well, do you have anything to say for yourself? Well, do you have anything to say for yourself? What you have to ask yourself is, do I feel lucky. Well do ya' punk? You want a guarantee, buy a toaster. Ever notice how sometimes you come across somebody you shouldn't have F**ked with? Well, I'm that guy. don't p!ss down my back and tell me it's raining. Dyin' ain't much of a livin', boy. This is the AK-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. What you have to ask yourself is, do I feel lucky. Well do ya' punk? </p>
  </div>
</div>
{% endblock %}